version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  general-service:
    build:
      context: ./general-service
      dockerfile: Dockerfile
    container_name: general-service
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
      SPRING_FLYWAY_ENABLED: "true"
      SPRING_MAIL_HOST: smtp.yandex.ru
      SPRING_MAIL_PORT: "465"
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      USER_SERVICE_URL: http://user-service:8081
      BANK_AGENT_URL: http://bank-agent:8082
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
      SPRING_FLYWAY_ENABLED: "true"
      GENERAL_SERVICE_URL: http://general-service:8080
      SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: "30000"
      SPRING_DATASOURCE_HIKARI_VALIDATION_TIMEOUT: "5000"
      SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT: "600000"
      SPRING_DATASOURCE_HIKARI_MAX_LIFETIME: "1800000"
      SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE: "1"
      SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: "10"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  bank-agent:
    build:
      context: ./bank-agent
      dockerfile: Dockerfile
    container_name: bank-agent
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
      SPRING_FLYWAY_ENABLED: "true"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

volumes:
  postgres-data:
    driver: local

networks:
  app-network:
    driver: bridge